.App-title{
  font-family: GothamMedium,Arial,sans-serif;
  color: #fff;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 30px;
}

.App-scroll{
  overflow: scroll;
  max-height: 300px;
  max-width: 600px;
  margin-bottom: 40px;
  padding-right: 50px;
  padding-bottom: 60px;
  padding-left: 50px;
  font-family: GothamBook,Arial,sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  text-decoration: none;
  text-transform: none
}

.App-stage{
  margin-top: 20px;
  margin-bottom: 20px;
  padding-bottom: 0;
  font-family: GothamMedium,Arial,sans-serif;
  color: #fff;
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 400;
  max-height: 300px;
  max-width: 500px
}

.App-container{
  display: block;
  overflow: visible;
  max-height: 300px;
  max-width: 500px;
  margin-top: 20px;
  margin-bottom: 0;
  padding: 20px 20px 0;
  border-style: solid none none;
  border-width: 1px 1px 1px 0;
  border-color: #fff #000 #000 #2e2e2e;
  border-radius: 0;
}
.App-time{
  color: #f6905c;
}



