body {
  margin: 0;
  background-color: #292643 !important;
  min-height: 100vh;
  background-color: #fff;
  padding-top: 0;
  font-family: Arial,'Helvetica Neue',Helvetica,sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
